@media (max-width:1200px){
	header {padding-right: 120px;}
}

@media (max-width:1024px){
.container{ width: 100%;}
.heroBanner:before{background-color: rgba(121,37,115, 0.4);}
.slider_row { padding-left: 68px;}
.minus {left: 0;}
.calcResults { padding:0;}
.loanDetail{ padding: 20px}
.calculator-section .container{ padding-top:0;}
.panel-outer { padding:30px 0; }
.sliderRowWrap { padding-bottom:45px;}
#product_tabs.ui-tabs ul, #product_tabs1.ui-tabs ul  { left:0; right:0; top:-107px;}
.tab-tit-col{ width: 100%;}
.tab-header ul li span{ font-size:24px;}
.yellowPatch {padding: 20px;}
.product-slider{ margin:0 -15px;}
.findBtn{ font-size:14px; min-width:100%;}
input[type="text"].txtBox-full{ font-size: 16px; letter-spacing: 1px;}

/* Sidebar */
.sub-page-wrapper .sticky-table { background-color:#fff; bottom:0; left:0; margin:0; position:fixed; padding:0; width:100%; z-index: 99;}
.sub-page-wrapper .sticky-table.btoff {display:none; }
.sideBar { margin:0;}
.sub-page-wrapper .calcResults { padding:0;}
.live-chat { font-size:14px; position: absolute; z-index: 100; right: 0; top: 0; display: block; width: 50%; white-space: nowrap; padding: 10px; overflow: hidden;}
.sub-page-wrapper .calcResults h2 { background-color:#572582; color:#fff;  cursor:pointer; display:block; font-size:14px; font-weight:700; margin:0; line-height:28px; position: relative; padding:8px 20px; width:50%;}
.sub-page-wrapper .calcResults h2:after { display:none;}
.sub-page-wrapper .calcResults h2:before { content:"\f102"; font-family: 'FontAwesome'; position:absolute; right:20px; top:10px; }
.sub-page-wrapper .calcResults h2.active:before { content:"\f103"; }
.borrowDetails { display:none; /*overflow-y:scroll;*/}
.tableMore_info { margin:0; }
.sub-page-wrapper .sticky-table .borrowDetails { padding:0 20px; }
.sub-page-wrapper .sticky-table.btoff .borrowDetails { max-height:inherit !important; overflow-y:inherit; }
.sub-page-wrapper .sticky-table.btoff .calcResults { padding:0; }
.fixfixed header, .fixfixed #side-bar { position:absolute; }
#side-bar { margin:0;position:relative !important; top:0 !important; width:100%; z-index:13; }
.sideBar-detail{ margin-top: 20px;} 
.slideBar-table{ padding:10px; margin-bottom:10px;}
.slideBar-table table tr td{ padding: 0}
.slideBar-table table tr td, .slideBar-table table tr td span{color:#5f5f5f;}
.slideBar-table table tr td:first-child{color:#5f5f5f;}
.slideBar-table table tr td, .tableMore_info{ border-top: none;}
.sideBar-detail h4{ padding: 15px 30px;}
.sideBar-detail ul li{ padding: 15px 0 15px 30px }
.slideBar-table table tr td:first-child, .slideBar-table table tr td{ font-size:12px;}
.problem-block{ display: none;}
#mnSlider, #mnSlider1{ padding-bottom: 10px}
.tableMore_info{padding: 10px 0px 0;}
.find-postcode .text-box{ font-size:24px;}
.latest-post .grid-4 img {padding-bottom: 24px;width: 100%;}
.currency-exchange [class*="span-"]{ float: none; width: 100%;}
.currency-exchange [class*="span-"]:first-child{ margin-bottom:20px;}
.exchange-block, .exchange-to, .exchange-block > div{ width:50%;}
.exchange-to{ margin-left:0; padding-left:15px;}
.exchange-block .drop-down{ width:100%;}
.exchanged-block{ padding-top:20px;}
.today-selling{ background-color:rgba(121,37,115,1); position:static; bottom: 0; width: 100%;}
.today-selling h6:after{ display:none;}
.travel-hero-content{ bottom:300px !important; top:inherit; margin-top: inherit !important;}
footer {padding: 30px 15px;}
.payment-due-date{ padding:0 15px}
.thank-you-wapper {padding: 100px 0 0 0;}
.thank-you-wapper p {padding-bottom: 30px;}
.search-block{ top: 60px;}
.my-acoount-close{right: 0px;}
}

@media (max-width:1023px){
body, nav, header { -webkit-transition: all 0.3s linear; -o-transition: all 0.3s linear; transition: all 0.3s linear;}
#main-wrapper{padding-top: 60px;}
body { position: relative; right: 0; }
body.open { right: 240px; }
body.open header { left: -240px; }
header .logo{ left:15px; width: 60px !important;}
header .logo img{ width: 100%;}

nav { background-color: #572582; border-left: solid 1px #fff; height: 100%; padding: 0; position: fixed; right: -240px; top: 0; width: 240px; }
body.open nav { right: 0; }
nav ul li, nav ul li:first-child  { border-bottom: solid 1px #fff; display: block; float: none; padding: 0; }
nav ul li a { color: #fff !important; padding: 20px; }

.sign-in-link { height: 60px; line-height: 60px; }
header { height: 60px; padding: 0; z-index:9;}
header .quick-links { padding-top: 0; }
li.subMenu{ position: relative;}
li.subMenu a{  padding-right:50px;}
.sub-trigger{ border-left:1px solid #fff; display:block; height:60px; position: absolute; top:0; right:0; width: 50px;}
.sub-trigger:before{ color: #e50647; content: "\f0d7"; font-family: 'FontAwesome'; margin-left:-5px; margin-top:-10px; left:50%; position: absolute; top:50%;}
li.subMenu > a { display:block; }
li.subMenu > a:before { content:""; left: auto; right: 10px; top: 20px; }
li.subMenu ul { background-color: #e50647; display: none; min-width: inherit; position: static; width: 100%; }
li.subMenu ul li:last-child { border-bottom: none; }
li.subMenu ul { opacity: 1; -webkit-transition: none; -o-transition: none; transition: none; visibility: visible; }

header .quick-links { margin-right: 55px; }
header .quick-links ul li, header .quick-links ul li:first-child { padding:20px 15px; }
header .quick-links ul li a{ padding: 0;}
header .quick-links ul li a i { font-size: 20px; margin-right: 0; }
.quick-links ul li a span { display: none; }

.sign-in-link, .sub-page-wrapper header #mobile-trigger { display: none; }
.sign-in-mobile-link, #mobile-trigger { display: block; }
.callUs{ padding:11px 0;}
.sub-page-wrapper header{ height: 60px;}
.left-column { width: 100%; }
.authorname-dashboard{padding-left: 70px}
}

@media(max-width:940px){
	.form-inner-field .verify-block .text-box, .verify-block button{ float:none; width: 100%;}
	.my-details-infomation .marketing-preferences {padding-left: 0px;}
	.my-details-infomation .marketing-preferences-checkbox {padding-left: 146px;}
	.signup-heading h2 {line-height: 54px;}
	.signin-heading h2 {line-height: 54px;}
	.forget-password-heading h2 {line-height: 54px;}
	.my-account-section {padding: 20px 0 20px 0;}
}
@media (max-width:840px){
.arrowLink { display: block; margin-left: 0 !important; padding-top: 15px;}
.heroBanner.cover-image{ background-position: right top}
.multiFormBlk{ width:75%;}
.steps-row ul li { width:120px !important;}
.steps-row ul li:after { left:-30px; width:60px;}
.left-column{ width:80%;}
.my-account-header .grid-8{width: 64%;}
.my-account-header .grid-4{width: 36%;}
.my-account-header .grid-6{width: initial;}
.my-account-pagination{padding-bottom: 20px;}
.my-details-infomation {padding: 25px 15px;}
.my-details-infomation .marketing-preferences-checkbox {padding-left: 0px;}
.my-details-infomation .marketing-preferences label{display: block;width: 100%;position: relative;height: 30px}
.banner-patch .button{font-size: 12px;}
.payment-mode table tr td, .payment-mode table tr th, .payment-mode table tr td:first-child{ width:33.3333%;}
.desc-content{ margin-bottom:30px}
.my-account-section {padding: 20px 0 20px 0;}
.signin-heading {padding: 50px 0px;}
.forget-password-heading{padding: 50px 0px;}
.signup-heading{padding: 50px 0px;}
.personal-info .marLeft20 {margin-left: 26px;}

}
.show-device, #rep-close, #galnce-close, #rep-close1, #galnce-close1{ display:none;}

@media screen and (max-width:768px){ 
.blog-content-wapper .leftside-wapper{padding-right: 15px}
.blog-content-wapper .rightside-wapper{padding-left: 15px}
.latest-post .grid-4 {float: left;width: 50%;}
.latest-post img {width: 100%;height: 100%;}
.blog-list img{width: 25%;}
.blog-content-wapper .grid-4 h6 {margin-left: -15px;padding-left: 15px;}
.blockquote-banner .banner-txt {width: 100%;}
.my-payment .set-payment-option {padding: 30px 15px;}
.other-products h3 span{line-height: 24px;}
.banner-patch .button{font-size: 12px;}
.offerPercent p{font-size: 32px;line-height: 38px;}
.chat-icon{bottom: 215px;}
.call-us > div i {font-size: 20px;}
.my-account-header .call-us > div {padding-left: 19px;}
.my-account-section {padding: 20px 0 20px 0;}
.personal-info .marLeft20 {margin-left: 26px;}
.search-result-heading{padding-top: 40px;}
.search-result-heading h1{font-size: 40px;}
}

@media (max-width:767px){
[class*="grid-"]{ float: none; width:100%;}
.calculator-section{ border-bottom:none; z-index:9999;}
.calculation_section { display:none;}
.grid-5.calcResults.tabAside { padding:0;}
.loanContent { padding:0;}
.loanDetail { margin-bottom:0;}
#set_range, #set_range1{ bottom:0; left:0; padding:0; position:relative; width:100%; z-index:99999;}
.sliderRowWrap {background:#fff; display:none; padding:20px 0px 10px;}
.calcLabel { padding:13px 0;}
.sliderRowWrap.current {display:block;}
.currentValueField { height:51px; padding:10px 10px 10px 30px;}
#mnSlider .currentValueField, #mnSlider1 .currentValueField { padding:13px 8px;}
.currentValueField label { left:13px;}
.repAPR { margin:0 -67px; padding-bottom:0;}
.calculation_section.disappear { display:none;}
.calculation_section h2{ font-size:20px; display: block;}
.sliderWrap a.button-secondary {-webkit-border-radius:2px; -moz-border-radius:2px; border-radius:2px; display:block; margin:0 15px; text-align:center; width:auto;}
.calcResults table tr td, .calcResults table tr td > div{ color:#5f5f5f; font-size:12px; line-height:18px;}
.repayMent{ display: none;} 
.steps-row{ padding-bottom:35px;}
.steps-row ul li:before { left: -13px; width: 20px;}
.steps-row.flexslider .slides { display:block !important; width:1000% !important;}
.steps-row ul li { width:205px !important;}
.steps-row ul li:after { left:93px; width:123px;}
.steps-row ul li { text-align:left;}
.steps-row ul li:first-child:after { display:block;}
.steps-row ul li:last-child:after { display:none;}
.steps-row ul li a { display:inline-block; text-align:center; width:100px;}
/* Get a quote */
#quickQuote, #quickQuote1{ background-color:#fff;}
.choice_prcoess { display:none !important;}
.yellowPatch { padding:0;}
.yellowPatch h2 { font-size:18px !important; padding-bottom:10px;}
.sections .yellowPatch h2:before { height:2px;}
/* Sticky slider tab */
.slider-tab { display:none; margin:0;}
.slider-tab a { border:1px solid #572582; color:#572582; float:left; font-weight:normal; padding:10px; position:relative; text-align:center; text-transform:uppercase; width:50%;}
/*.slider-tab a:after { content:"\f102"; color:#222; font-family:Fontawesome; font-weight:normal; margin-top:-12px; position:absolute; right:10px; top:50%;}
.slider-tab a.open-state:after { display:none;}
.slider-tab a.active.open-state:after { display:block;}
.slider-tab a.active:after {content:"\f103"; color:#fff;}*/
.slider-tab a:after {bottom:0px;border-left:10px solid transparent; border-right: 10px solid transparent;border-top: 10px solid #572582;content:"";height: 0; margin-left: -10px;left: 50%;opacity: 0;position: absolute;width: 0;z-index: 99;}
.slider-tab a.active {border:1px solid #572582; background-color:#572582; color:#fff;}
.slider-tab a.active:after{ bottom:-10px; opacity: 1}
/* Sticky slider tab */
.hide-device { display:none !important;}
.show-device { display:block;}
#glance-table, #glance-table1{ background:#fff; height:100%; left:0; padding:0; position:fixed; top:0; -webkit-transform:translateY(100%); transform:translateY(100%); -webkit-transition:all 0.5s ease; -moz-transition:all 0.5s ease; -ms-transition:all 0.5s ease; transition:all 0.5s ease; visibility:hidden; width:100%; z-index:99999; -webkit-backface-visibility:hidden;}
#glance-table.active-state, #glance-table1.active-state{-webkit-transform:translateY(0%); transform:translateY(0%); visibility:visible;}
#set_range.glance-open .slider-tab, #brSlider.current, #set_range1.glance-open .slider-tab, #brSlider1.current { display:block;}
html.body-hidden body { height:100%; overflow:hidden; position: fixed;}
.glance-visible-area { bottom:0; left:0; padding:0 15px 10px; position:absolute; overflow-x:hidden; overflow-y:scroll; overflow:auto; top:44px; width:100%;}
#glance-table h4, #glance-table1 h4 { /*background:#572582 !important; */color:#000; margin-bottom: 0; padding:10px 15px;}
#glance-table h4:before, #glance-table1 h4:before{ display:none;}
.more-info { padding:10px 0 5px;}
.more-info p{color: #827e82; padding-top:10px; line-height:18px;}
a#galnce-close, a#galnce-close1 { color:#000; display:block; font-size:16px; padding:10px 15px; position:absolute; right:0; top:0;}
#rep-example, #rep-example1{ background-color:#e50647; bottom:0; display:none; left:0; position:fixed; width:100%; z-index:999999;}
#rep-close, #rep-close1{color:#fff; display:block; font-size:20px; position:absolute; right:10px; top:15px;}
.glance-visible-area .button-row .button{ min-width: 100%;}
/* Get a quote */
.white-patch-mobile { background-color:#fff; margin:0 -15px; padding:0 15px;}
.sections .center-block p { font-size:16px; line-height:20px; padding-bottom:5px;}
.calcResults table tr td { padding:2px 0;}
.calcResults table {margin-bottom:0;}
.tabAside table tr{ border-top: none;}
.accStyle { border-top:none;}
.accStyle h5:before { right:0;}
.accStyle h5.ui-accordion-header, .accStyle .ui-accordion-content { padding-left:0;}
.accStyle h5.ui-accordion-header.ui-state-active { border-bottom:none;}
.accStyle .ui-accordion-content { border-bottom:2px solid #fff; padding-right:0;}
.accStyle h5.ui-accordion-header.ui-state-active, .accStyle .ui-accordion-content { background-color:transparent;}
.col-xs-7.calculation_section h2 { margin-bottom:15px;}
.sections { padding:40px 0;}
.currentValueField.fR { float:left; margin-left:5px; margin-top:-4px;}
.calcLabel { font-size:12px; font-weight:normal; line-height:20px; padding:0;}
.currentValueField, #mnSlider .currentValueField, #mnSlider1 .currentValueField { background-color:transparent; font-size:18px; height:auto; padding:0; width:auto;}
#mnSlider .currentValueField, #mnSlider1 .currentValueField{ line-height:24px; padding:0;}
.currentValueField label { margin:3px -5px 0 2px; position:static;}
#month_field, #month_field1{ font-size:16px; font-weight:bold; padding-top:2px;}
.range_field { padding-bottom:20px;}
.range_field input[type="text"] { background-color:transparent; line-height:20px; font-size:16px; font-weight:bold; padding:0; text-align:left; width:70px;}
.more-info a{ color:#e50647;}
#rep-example h4, #rep-example p, #rep-example1 h4, #rep-example1 p{ color:#fff;}
.currentValueField label{ display: inline-block;}
.range_field input[type="text"]{ height:inherit; margin-bottom: 0}
#month_field, #month_field1{ line-height: inherit;}
#month_field span, #month_field1 span{ background-color: transparent; height: inherit; position: static;}
.service-block .grid-4, .how-it-work .grid-4{ margin: 0 auto;}
.service-block .grid-4{ width:240px;}
.how-it-work .grid-4{ margin-bottom: 50px; width: 300px}
.banner-patch .grid-8{ margin-bottom: 15px;}
.borrow-blk .grid-3{ margin-bottom:30px}
.borrow-blk .grid-3:last-child{ margin-bottom: 0}
.total-due{ width:60%;}
.current-arp{ width: 40%;}
.total-due, .current-arp{ float: left;}
.dashboard-block .title-row{ margin-bottom:15px;}
.dashboard-block .title-row, .dashboard-block .dashboard-menu{ float: none;}
.dashboard-menu ul li{ width:33.333%;}
.dashboard-menu ul li a{ padding:10px;}
.payment-mode{ margin-bottom:25px;}
.my-account-section.my-payment{ padding-bottom:30px;}

.my-account-section{padding-top: 20px;padding-bottom:20px;}
.my-account-header h3 {padding-left: 13px;}
.my-account-header{padding-left:0px;}
.my-account-header .grid-8{padding-left:0px;width: 100%;margin-bottom: 20px;}
.my-account-header .grid-4{float: left;padding-left:15px;width: 100%;}
.my-account-header .grid-6{float: left;}
.signup-information-list ul li:before{left: -10px;}
.message-detail .message-content {padding: 15px 20px 33px 20px;}
.my-payment .set-payment-option {padding: 30px 15px;}
.other-products h3 span{line-height: 24px;}
.offerPercent p{font-size: 32px;line-height: 38px;}
.my-document-section{ margin-bottom:25px;}
.my-account-section {padding: 20px 0 20px 0;}
#controls .grid-3{ margin-bottom:15px;}
table #results tr{ width:50%;}
.my-account-header .grid-8 {width: 50%;display: inline-block;}
.my-account-header .grid-4 {float: right;width: 50%;}
.latest-content { padding-bottom:40px;}
.latest-news h5, .latest-news p{ text-align: center;}
.latest-news .grid-4:last-child .latest-content{ padding-bottom: 0}
.latest-news h3{ padding-bottom:30px;}
.leftside-wapper{ padding-bottom:20px}
.blog-landing .rightside-wapper, .rightside-wapper{ padding-top:20px;}
.slider-frame{ margin-bottom:20px;}
}

@media (max-width:640px){
h2{ font-size: 30px; line-height:36px}
h2 span{ font-size: 18px; line-height: 24px;}
h3{ font-size: 24px;}
.hero-banner{ height:500px}
.hero-banner:before{ background-position: center center}
.banner-text h1{ font-size:38px; padding-bottom:10px; line-height: 42px;}
.banner-text p{ font-size:14px; line-height: 24px;}
.banner-text h1{ font-size:38px; padding-bottom:10px; line-height: 42px;}
.banner-text p{ font-size:14px; line-height: 24px;}
.tab-tit-col{ padding:15px;}
.banner-text{ width: 100%;}
.testimonial-author { margin-bottom:0; padding-left: 0; padding-right: 0; padding-bottom: 50px;}
.testimonial-content p{ font-size: 14px; line-height:26px;}

.choice-image .banner-brief{bottom:300px;margin-top: inherit !important; top: inherit; }
.banner-text{ width: 100%;}
.calcResults table tr td:last-child, .calcResults table tr td > div{ font-size:14px}
/*.banner-brief{ bottom:200px}*/
.thumbnailWrapper { padding-top: 30px; }
.banner-patch{ padding:20px 0}
.product-block h3{ height: inherit !important;}
.form-inner-field{ padding-left:0}
.form-inner-field > label{ height: inherit; position: static; padding-bottom: 10px; width: 100%;}
.form-inner-field.txtMsg{ height: inherit;} 
.form-row .error{ margin-left: 0}
.postcode .whiteBtn{ top:26px;}
.uploadFile .file-upload-button{ top: 26px;}
.banner-txt .findBtn{ margin-top:10px}
.banner-text .findBtn{ margin-top:10px}
.cashBack{ padding: 20px 0}
.form-warp h1{padding-right:130px}
.left-column h1{ font-size:28px; line-height:32px; }
.form-section{ padding-right: 0}
.form-row i.fa-check{ right:0; top: 0;}
.error-message, .help-message{ margin-left: 0;}
.help-icon{bottom: 1px; background-color:#f0f0f0; top:inherit; right: 1px;}
.noverify{ top:26px; right: 0}
.form-inner-field.mobileVerfiy{ padding-right: 0}
.radio label, .checkBox label{ float: none; display: block; margin-bottom: 20px; margin-right: 0 !important}
.radio label:last-child, .checkBox label:last-child{ margin-bottom: 0}
.address-content{ margin-left:0;}
.address-list{ padding-left: 0}
.table-data{ margin-bottom:20px;}
.table-data div{ padding:0 15px;}
.table-data table tr td{ padding:10px;}
.downLoadSch{ padding:20px;}
.save-button{ font-size: 12px;font-weight: normal; min-width:80px !important;height: 40px;font-size: 12px;font-weight: normal; padding: 8px 10px}
.save-button > i{ font-size:14px;}
.tableMore_info { margin:0px; }
.purpose-of-row i.fa-check{ top: -25px;}
.resend{ margin-left: 0}
.tab-header ul li span{ line-height:18px;}
.looking-to-borrow p, .looking-to-borrow .borrow-text-box{ font-size:24px; line-height:30px;}
.borrow-amount{ width:57px;}
.borrow-month{ width:30px;}

.blog-hero-banner .banner-brief {left: 0;margin-left: 0;padding: 0 15px;}
.latest-post .grid-4 {float: left;width: 50%;}
.blog-list img{width: 35%;}
.blockquote-banner .banner-txt {width: 100%;}
.travel-hero-content p{ display:none;}
.exchanged-block{ padding-top:0px;}
.banner-patch.exchange-row{ padding-bottom:10px !important;}
.exchanged-amount, .exchanged-amount .exchanged-box{ font-size:24px; line-height:32px;}
.exchanged-box{ height:auto !important;}
.current-rate{ margin-bottom:10px;}
.exchange-block, .exchange-to{ width:100%;}
.exchange-block > div{ margin-bottom: 20px;}
.exchange-to{ padding-left: 0;}
.exchanged-block .button{ height:50px; padding:14px 10px;}
.exchange-block .text-box{ padding:10px;}
.exchange-input{ padding-right: 15px;}
.exchange-block .text-box, .exchange-block .ui-selectmenu-button span.ui-selectmenu-text, .exchange-block .ui-selectmenu-button span.ui-icon, .exchange-to .ui-selectmenu-button span.ui-selectmenu-text, .exchange-to .ui-selectmenu-button span.ui-icon{ height:40px;}
.exchange-block .ui-selectmenu-button span.ui-selectmenu-text, .exchange-to .ui-selectmenu-button span.ui-selectmenu-text{ font-size:14px; padding: 10px;}
.exchanged-amount{ width:50%; padding-left:20px;}
.current-rate{ margin-left:-20px;}
.button-pay {margin-bottom: 10px;}
.travel-hero-content{ bottom:340px !important;}
.payment-mode table tr th, .payment-mode table tr td{ padding:15px;line-height:18px}
.view-payment{padding:15px;}
.signup-heading h2 {font-size: 36px;line-height: 44px;}
.signin-heading h2 {font-size: 36px;line-height: 44px;}
.forget-password-heading h2 {font-size: 36px;line-height: 44px;}
.signup-form .mobile-number {width: 100%;}
.signup-form .small-form-row .small-box {width: 100%;}
.signup-form .dob-year {width: 100%;}
.my-details-infomation .form-block .form-inner-field .text-box {border: 1px solid #eaeaea;}
.my-details-infomation .form-block .form-row {border-bottom:none; }
.change-number{top:25px;}
.my-details-infomation .form-block .form-row .form-inner-field .checkBox {float: left;}
.my-details-infomation .form-inner-field .text-box {padding: 15px;}
.message-table table tr td:first-child {width: 100%;display: block;}
.message-table table tr td {width: 100%;display: block;}
.message-table table tr td:last-child {width: 100%;display: block;float: left !important;padding-left:0px;}
.message-table table tr {border-bottom: 2px solid #eaeaea;}
.message-table table td {padding-bottom: 10px; padding-top: 5px;}

.validate-due-amount .fL, .validate-due-amount .fR{ float:none; text-align: center;}
.validate-due-amount .fL{ margin-bottom:15px;}
.close-button-valid{right:20px; top:20px;}
.message-table div {padding: 13px 15px;}
.my-details-infomation .form-inner-field{ border-bottom:1px solid #eaeaea}
.mobile-verify-block .form-inner-field:first-child{ border:none;}
.sms-verfiy-code{ padding-bottom: 20px; margin-bottom:0 !important}
.my-details-infomation {padding: 25px 15px;}
.my-details-infomation .marketing-preferences-checkbox{padding-bottom:16px;}
.message-detail .message-content {padding: 15px 20px 33px 20px;}
.signup-form .small-form-row .small-box {padding-bottom: 12px;margin-left: 0px;}
.my-payment .set-payment-option {padding: 30px 15px;}
.chat-icon{bottom: 200px;}
.postcode .button-white{top:inherit;bottom: 0;}
.bottom-row .fL, .bottom-row .fR{ float:none;}
.download-statement{ margin-bottom:10px;}
.my-document-section{ padding:15px;}
.my-document-section .title-row{ padding: 0 15px; margin:0 -15px;}
.my-document-section ul li{ float: none; display: block; margin-bottom:15px; width:100%;}
.my-document-section ul li:last-child{ margin-bottom: 0}
.make-payment-section {padding: 20px 15px;}
.overlay .form-inner-field {padding-left:0px;}
.forget-username-button{padding-left: 0px;width: 100%;}
.forget-username-button .button-primary{width: 100%;}
.forget-password-form .details-save{padding-left:0px;}
table #results tr{ width:100%;}
.my-account-header .grid-8 {width: 50%;display: inline-block;}
.my-account-header .grid-4 {float: right;width: 50%;}
.make-payment-section .Payment-amount{width: 100%;}
.make-payment-section .cvv-number{width: 100%;}
.personal-info .marLeft20 {margin-left: 0;}
.form-inner-field .verify-block .text-box, .verify-block button{width: 100%;}
.search-bar .button-primary{width: 100%;}
.amount-due-title, .amount-due, .next-payment{ text-align: center;}
.intro-title-block{padding-top: 40px;}
.common-contact-infomation, .write-us  {padding: 15px 0;}
.contact-updated-form h2{font-size: 48px;}
.contact-updated-wapper {padding-top: 50px;}
.idproof-heading{padding-top: 40px;}
.video-caption{ width:100%;}
.latest-post .grid-4{ width:100%;}
.content-move{ margin-left:0 !important; margin-right:0 !important}
.content-images-caption{ margin-bottom: 20px;}
.password-block{ padding-left:0}
.verify-cancel{top: 26px;}
} 
@media (max-height:600px){
	.validation-wrapper{ min-height: inherit !important}
	.validation-wrapper .grid-4{padding:100px 20px;  min-height: inherit !important}
	.validate-due-amount{background:#ff923a url(../images/valid_bg.png) repeat; position: static;}
 }
@media (max-width:568px){
.tabTitle.mobTitle { display:block; padding-bottom:5px; } 
.image-center{ background-position:right top !important; }
.hero-banner.choice-image{ background-position: 88% top;}
.mobilHide { display:none; }
.live-chat { width:43px; }
.sub-page-wrapper .calcResults h2 { width:100%; }
.sub-page-wrapper .calcResults h2:before { right:63px; }
.playerOverlay.coverBg { background-position: right top; }
.sub-page-wrapper .calcResults h2:before { top:9px; }
.sub-page-wrapper .sticky-table.btoff {bottom:0;}
.tab-header ul li h6{ display: none;}
.tab-header ul li span, .tab-tit-col small{ font-size:14px; font-weight: 700;}
.service-block .grid-4, .how-it-work .grid-4{ width: 100%;}
.product-block{padding:40px 20px 60px;}
.form-inner-field .halfwidth{ width: 100%;}
.marLeft20{ margin-top:20px; margin-left: 0}
.small-box.dob25, .small-box.dob50{ margin-bottom:20px;}
.small-box.dob25:last-child{ margin-bottom: 0}
.small-box.dob25, .small-box.dob50{ width:100%; padding: 0;}
.date-to-paid .small-box{ width: 100%; margin-bottom: 15px;}

.noverify{ position: static; width: 100%;}
input[type="text"].txtBox-full{ font-size:14px;}
footer .fR, footer .fL{ float: none; text-align: center;}
footer ul{ display: inline-block;}
.top-buttons .button, .iconicBtn{ min-width: inherit;  width: 100%;}
.top-buttons .button{ margin-bottom: 20px;}
.top-buttons .button:last-child, .iconicBtn:last-child{ margin-bottom: 0}
.income-total div{ width:50%;}
#incomeTable table{ width: 100%;}
.tabTitle{ width:inherit; padding-bottom: 15px;}
.iconicBtn{ margin-left: 0; margin-bottom: 20px;}
.iconicBtn img{ display: none; }
.iconicBtn small{ padding-left: 0}
.problem-block{font-size: 11px; padding: 10px 20px; line-height: 16px;}
.date-to-paid .small-box{ margin-left: 0}
#date-of-birth .small-box{ padding-left: 0}
.loan-condition{ margin-right:20px;}
.blog-list img{width: 35%;}
.blockquote-banner h1 {font-size: 32px;line-height: 35px;}
.make-payment-section .card-number{width: 100%;}
.make-payment-section .ui-selectmenu-button {width: 100% !important;}
.total-due{ margin-bottom:20px;}
.total-due, .current-arp, .next-box-error p, .next-box-error a{ float:none; width: 100%;}
.scroll-hide{ overflow:scroll;}
.scroll-hide ul{ width:615px; overflow: hidden;}
.next-box-error p{ padding-bottom:15px}
.validation-wrapper .grid-4 > div, .delete-message-for{ width:100%;}
.validate-due-amount .due-text{ font-size:16px;}
.validate-due-amount .due-text, .validate-due-amount .due-amount{ line-height:36px;}
.validate-due-amount .due-amount{ font-size:32px;}
.signup-information-list ul li:before{left: -10px;}
.my-account-header .grid-8 {padding-left: 0px;width: 100%;margin-bottom: 20px;}
.my-account-header .grid-4 {float: left;padding-left: 15px;width: 100%;}
.search-block{ width:100%;}
}
@media screen and (max-width:494px){ 
 .details-save .button {margin-bottom: 12px;}
}
@media screen and (max-width:480px){ 
	.latest-post img {width: 100%;height:100%;}
	.latest-post .grid-4 {width: 100%;}
	.blog-list img {float:none;padding-bottom: 23px;width: 100%;height: 100%;}
	.blog-list h6 {padding-left: 0px;}
	.blog-list p {padding-left: 0px;}
	.details-save .button {margin-bottom: 12px;}
	.chat-icon{bottom: 180px;}
	.banner-text p{display: none;}
	.offerPercent p{font-size: 24px;line-height: 30px;}
	.my-account-header {padding-bottom:20px;}
	.banner-brief .button-primary{width: 100% !important;}
	.banner-patch .button-primary{width: 100% !important;}
	.my-account-section .button-primary{width: 100% !important;}
	.my-account-section .button-secondary{width: 100% !important;}
	.my-account-header ul {padding-bottom: 7px;}
	.delete-message-for .button {margin-bottom: 15px;}
	.signin-form .button-primary{width: 100%;}
	.details-save .button-primary{width: 100%;}
	.details-save .button-secondary{width: 100%;}
	.signup-form .button-primary{width: 100%;}
	.newCode{width: 100%;}
	.authorname-dashboard {padding-left: 0;}
	.loan-condition table tr td{ display: block; padding:10px 10px 10px 0; width:100%; vertical-align: top}
	.loan-condition table tr td:first-child{ font-weight:700; padding-bottom:0; width:100%;}
	.search-result-heading h1{font-size: 30px;}
.table-data table tr td{ font-size:14px;}
}

@media(max-width:380px){
.how-long-u .small-box{ margin-bottom:15px;}
.how-long-u .small-box:last-child{ margin-bottom: 0}
.repay-next-div .alert-message-highlight i{ margin-top:-10px; top: 50%;}
.tab-header ul li span, .tab-tit-col small{ font-size:12px;}
.tab-tit-col:before { bottom: -10px; border-left: 10px solid transparent; border-right: 10px solid transparent; border-top: 10px solid #572582; margin-left: -10px;
}
.titleRow:before{ background-color: transparent;}
.titleRow h6 span{ padding:0;}
.my-details-infomation .form-block .form-row .form-inner-field .checkBox {float: none;padding-bottom: 20px;}
.repay-title{ font-size:14px; font-weight:400;}
}