/*html overflow style*/
html.hidden {
  overflow: hidden; }

/*input focus style*/
input[type="text"],
textarea,
textarea:focus,
input[type="text"]:focus {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
  border-radius: 0;
  border: none; }

/*cashBack*/
.cashBack {
  background-color: #ececec;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff; }

/*cashBack heading*/
.cashBack h3 {
  color: #e50647;
  text-align: center; }

/*personal infomation heading style*/
.personal-info h6 {
  text-transform: uppercase; }

/*form block section start*/
.form-block {
  padding-bottom: 20px; }

/*form row style*/
.form-row {
  padding-bottom: 35px;
  position: relative; }

/*form inner field style*/
.form-inner-field {
  padding-left: 160px;
  position: relative; }

/*form inner field label style*/
.form-inner-field > label {
  background-color: transparent;
  color: #333333;
  cursor: default;
  display: table;
  font-size: 12px;
  font-weight: 400;
  height: 50px;
  left: 0;
  margin: 0;
  position: absolute;
  padding-right: 15px;
  width: 160px; }

/*form inner field span style*/
.form-inner-field > label > span {
  display: table-cell;
  line-height: 16px;
  text-align: left;
  vertical-align: middle; }

/*form inner field text box textArea common style*/
.form-inner-field .text-box,
.form-inner-field .textArea {
  background-color: #f0f0f0;
  border: none;
  color: #333333;
  padding: 15px;
  width: 100%; }

/*form inner field text box style*/
.form-inner-field .text-box {
  height: 50px; }

/*form inner field textArea style*/
.form-inner-field .textArea {
  height: 120px;
  resize: none; }

/*form row error style*/
.form-row .error {
  color: #e50647;
  margin-left: 160px;
  padding-top: 5px; }

/*form inner field style*/
.form-inner-field .halfwidth {
  width: 50%; }

/*form checkBox style*/
.radio {
  min-height: 45px;
  padding-left: 0; }

/*form checkBox lable style*/
.radio label {
  font-size: 14px;
  min-height: 45px;
  position: relative;
  float: left;
  margin-right: 23px !important;
  padding-left: 60px; }

/*form checkBox lable before style*/
.radio label:before {
  background: #f0f0f0;
  border-radius: 100px;
  content: "";
  font-family: 'FontAwesome';
  height: 45px;
  left: 0;
  line-height: 45px;
  position: absolute;
  width: 45px;
  top: 0;
  text-align: center; }

/*radio label before style*/
.radio label.ui-state-active:before {
  background-color: #572582;
  content: "\f111";
  color: #fff; }

/*radio button text style*/
.radio .ui-button-text {
  color: #222222;
  display: table;
  font-size: 12px;
  height: 1px;
  min-height: 45px;
  padding: 0;
  text-align: left;
  width: 100%; }

/*radio button text span style*/
.radio .ui-button-text span {
  display: table-cell;
  vertical-align: middle; }

/*form checkBox*/
.checkBox {
  min-height: 45px;
  padding-left: 0; }

/*form checkBox label*/
.checkBox label {
  font-size: 14px;
  min-height: 45px;
  position: relative;
  float: left;
  margin-right: 28px !important;
  padding-left: 60px; }

/*form checkbox label before style*/
.checkBox label:before {
  background: #fff;
  border: 1px solid #572582;
  content: "";
  font-family: 'FontAwesome';
  height: 45px;
  left: 0;
  line-height: 45px;
  position: absolute;
  width: 45px;
  top: 0;
  text-align: center; }

/*form checkbox label active before style*/
.checkBox label.ui-state-active:before {
  background-color: #572582;
  content: "\f00c";
  color: #fff; }

/*form checkbox button text style*/
.checkBox .ui-button-text {
  color: #222222;
  display: table;
  font-size: 12px;
  height: 1px;
  min-height: 45px;
  padding: 0;
  text-align: left;
  width: 100%; }

/*form checkbox button text span style*/
.checkBox .ui-button-text span {
  display: table-cell;
  vertical-align: middle; }

/*form block section end*/
.postcode {
  padding-right: 130px;
  position: relative; }

/*button white style*/
.button-white {
  border: 1px solid #ccc;
  background-color: #fff;
  color: #e50647;
  font-size: 12px;
  font-weight: 700;
  min-width: inherit;
  padding: 10px 15px;
  width: 130px;
  height: 50px;
  position: absolute;
  right: 0;
  top: 0; }

/*17 Nov 2015*/
/*red Title heading style*/
.redTitle h6 {
  color: #ff9933;
  padding-bottom: 0; }

/*address list left space*/
.address-list {
  padding-left: 15px; }

/*margin Left style*/
.margLeft {
  margin-left: 20px; }

/*button class particular image style*/
.btn > img {
  position: absolute;
  left: 35px; }

/*button class particular image in pawnBroker style*/
.btn > img.pawnBroker {
  left: 270px; }

/*button class particular small style*/
.btn > small {
  padding-left: 50px;
  font-size: 14px; }

/*minBtn style*/
.minBtn {
  min-width: 120px;
  padding: 13px; }

/*26-11-2105*/
/*blog-content page css style*/
/*gradient image before style*/
.gradient-img:before {
  content: "";
  background: url(../images/gradient.png) left bottom repeat-x;
  width: 100%;
  height: 100%;
  left: 0;
  bottom: 0;
  position: absolute; }

/*blog content wapper style*/
.blog-content-wapper {
  position: relative; }

/*blog content wapper span8 before style */
.blog-content-wapper .leftside-wapper:before {
  content: "";
  position: absolute;
  background: #eaeaea;
  width: 1px;
  height: 100%;
  right: 0;
  top: 0px; }

/*blog content wapper span4 before style */
.blog-content-wapper .rightside-wapper:before {
  content: "";
  position: absolute;
  background: #eaeaea;
  width: 1px;
  height: 100%;
  left: -1px;
  top: 0px; }

/*blog hero banner style */
.blog-hero-banner {
  height: 560px;
  position: relative; }

/*banner text width style*/
.banner-text {
  width: 490px; }

/*blog content wapper span8 style*/
.leftside-wapper {
  padding-top: 72px;
  padding-right: 30px;
  padding-bottom: 40px; }

/*banner-brief style*/
.blog-hero-banner .banner-brief {
  top: auto;
  left: 50%;
  position: absolute;
  margin-left: -284px;
  margin-top: 0 !important;
  bottom: 100px; }

/*blog hero banner heading style*/
.blog-hero-banner h1 {
  color: #fff;
  font-size: 48px;
  font-weight: 700;
  line-height: 48px;
  padding-bottom: 26px; }

/* banner-brief heading style */
/* banner-brief paragraph style */
.blog-hero-banner .banner-text p {
  color: #fff;
  font-size: 14px;
  line-height: 24px;
  padding-bottom: 0;
  text-transform: uppercase; }

/*post author style*/
.post-author {
  color: #fff;
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;
  position: relative; }

/*post author span style*/
.post-author span {
  color: #fff;
  font-size: 14px;
  line-height: 24px;
  padding-right: 20px;
  text-transform: uppercase;
  top: 0;
  left: 0;
  width: 130px; }

/*blog text underline style*/
.blogtextunderline {
  border-bottom: 1px solid #eaeaea; }

/*content images style*/
.content-images {
  border-bottom: 1px solid #cccccc;
  margin-bottom: 52px; }

/*content images span style*/
.content-images span {
  display: block;
  padding: 13px 0; }

/*blog content wapper heading h4 style*/
.blog-content-wapper .leftside-wapper h4 {
  color: #333333; }

/*blockquote section style*/
blockquote {
  font-family: 'Georgia';
  font-size: 22px;
  font-style: italic;
  padding: 0 0 0 58px;
  margin: 0 0 20px;
  border-left: none;
  position: relative;
  line-height: 36px; }

/*blockquote section before style*/
blockquote:before {
  content: "";
  background-image: url("../images/blockquote.png");
  left: 0px;
  width: 30px;
  position: absolute;
  height: 21px;
  top: 0; }

/*blockquote section paragraph style*/
blockquote p {
  color: #572582;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  padding: 17px 0; }

.blog-landing .latest-post {
  border-bottom: 1px solid #d9d9d9; }

.blog-landing .leftside-wapper,
.blog-landing .rightside-wapper {
  padding-top: 42px; }

/*blog content wapper right side column */
.rightside-wapper {
  padding-top: 72px;
  padding-left: 30px;
  padding-bottom: 40px; }

/*blog content wapper right side column heading*/
.rightside-wapper h6 {
  font-size: 12px;
  margin-left: -30px;
  text-transform: uppercase;
  padding-left: 30px; }

/*other stories style*/
.other-stories {
  padding-bottom: 22px; }

/*other stories link style*/
.other-stories a {
  display: block; }

/*other stories paragraph style*/
.other-stories p {
  color: #572582;
  font-size: 12px;
  font-weight: 700;
  padding-bottom: 0px;
  line-height: 24px;
  overflow: hidden; }

/*other stories span style*/
.other-stories span {
  color: #999999;
  display: block;
  font-size: 10px;
  font-weight: 700;
  line-height: 24px; }

/*other stories img style*/
.other-stories img {
  width: 72px;
  height: 72px;
  margin-right: 15px; }

/*blogsearch section style*/
.blogsearch {
  padding-bottom: 53px; }

/*blogsearch section heading style*/
.blogsearch h6 {
  padding-bottom: 5px; }

/*blogsearch section style*/
.blogsearch-form input[type="text"] {
  background-color: #eaeaea;
  padding: 0px 62px 0px 15px;
  height: 50px;
  width: 100%; }

/*blogsearch FontAwesome style*/
.blogsearchbtn i {
  color: #fff;
  font-size: 17px; }

/*blogsearch form style*/
.blogsearch-form {
  position: relative; }

/*blogsearch botton style*/
.blogsearchbtn {
  bottom: 0;
  font-size: 17px;
  font-weight: 700;
  position: absolute;
  width: 50px;
  right: 0;
  height: 50px;
  background-color: #e50647;
  border: none; }

/*email subscribe heading style*/
.email-subscribe h6 {
  padding-bottom: 5px; }

/*email subscribe input style*/
.email-subscribe-form input[type="text"] {
  background-color: #eaeaea;
  padding: 0px 100px 0px 15px;
  height: 50px;
  width: 100%; }

/*email subscribe form style*/
.email-subscribe-form {
  position: relative; }

/*email subscribe botton style*/
.email-subscribe-btn {
  bottom: 0;
  color: #fff;
  font-size: 12px;
  font-weight: 700;
  position: absolute;
  width: 86px;
  right: 0;
  height: 50px;
  background-color: #e50647;
  border: none; }

/*email subscribe error message style*/
.email-subscribe .error {
  color: #e50647;
  padding-top: 5px; }

/*rightside list */
.rightside-list ul li a {
  color: #333333; }

/*rightside list link hover style*/
.rightside-list ul li a:hover {
  color: #e50647; }

/*rightside list bottom space style*/
.rightside-list {
  padding-bottom: 53px; }

/*rightside list heading style*/
.rightside-list h6 {
  padding-bottom: 11px;
  border-bottom: 1px solid #eaeaea; }

/*rightside list li style*/
.rightside-list ul li {
  color: #333333;
  font-size: 12px;
  font-weight: 700;
  line-height: 24px;
  position: relative;
  padding: 14px 0px 14px 10px;
  border-bottom: 1px solid #eaeaea; }

/*rightside list li before style*/
.rightside-list ul li:before {
  color: #e50647;
  content: "\f0da";
  font-size: 12px;
  font-family: 'FontAwesome';
  left: 0px;
  width: 5px;
  position: absolute;
  bottom: 33px;
  height: 5px; }

/*blog search result page css style*/
header {
  border-bottom: 1px solid #eaeaea; }

/*blog search result common space style*/
.intro-title-block {
  padding: 87px 0px 53px 0px;
  border-bottom: 1px solid #eaeaea; }

/*blog search result paragraph style*/
.intro-title-block p {
  font-size: 14px; }

/*blog search result image style*/
.blog-list img {
  width: 220px;
  height: 110px;
  margin-right: 18px; }

/*blog list style*/
.blog-list {
  padding-bottom: 34px; }

/*blog list link style*/
.blog-list a {
  display: block; }

/*blog list heading style*/
.blog-list h6 {
  color: #572582;
  font-size: 14px;
  font-weight: 700;
  padding-bottom: 0px;
  line-height: 24px;
  overflow: hidden; }

/*blog list paragraph style*/
.blog-list p {
  color: #333333;
  font-size: 12px;
  font-weight: 700;
  padding-bottom: 0px;
  line-height: 24px;
  overflow: hidden; }

/*blog list span style*/
.blog-list span {
  color: #999999;
  display: block;
  font-size: 10px;
  font-weight: 700;
  line-height: 24px;
  padding-top: 15px; }

/*blog list last child style*/
.blog-list:last-child {
  border-bottom: 1px solid #cccccc;
  margin-bottom: 20px; }

/*blog pagination common space style*/
.blog-pagination {
  padding: 17px 0px 7px 0px; }

/*blog pagination list link style*/
.blog-pagination ul li a {
  color: #333333;
  display: inline-block;
  font-size: 14px;
  float: left;
  padding: 10px; }

/*blog pagination list active style*/
.blog-pagination ul li .active {
  color: #572582; }

/*pagination previous page style*/
.previous-page {
  background: url(../images/left-arrow.png) no-repeat;
  position: relative;
  height: 44px;
  line-height: 44px;
  width: 44px;
  margin-right: 20px; }

/*pagination previous page before style*/
.previous-page:before {
  color: #fff;
  content: '\f104';
  position: absolute;
  font-family: 'FontAwesome';
  height: 16px;
  width: 16px;
  font-size: 16px;
  bottom: 28px;
  right: 10px;
  z-index: 1; }

/*pagination next page style*/
.next-page {
  background: url(../images/right-arrow.png) no-repeat;
  position: relative;
  height: 44px;
  line-height: 44px;
  width: 44px;
  margin-left: 20px; }

/*pagination next page before style*/
.next-page:before {
  color: #ec5a76;
  content: '\f105';
  position: absolute;
  font-family: 'FontAwesome';
  height: 16px;
  width: 16px;
  font-size: 16px;
  bottom: 29px;
  right: 8px;
  z-index: 1; }

/*blog landing page css style*/
/*blog landing page  column common 8 style*/
/*blog landing page  column common 4 style */
/*latest post titleRow style*/
.latest-post .titleRow {
  margin-bottom: 17px; }

/*latest post post block style*/
.latest-post .post-block {
  border-bottom: 1px solid #eaeaea; }

/*post category style*/
.post-category {
  color: #997a97;
  font-size: 10px;
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase;
  position: relative; }

/*post category span style*/
.post-category span {
  color: #997a97;
  font-size: 10px;
  font-weight: 700;
  line-height: 24px;
  padding-right: 20px;
  text-transform: uppercase;
  top: 0;
  left: 0;
  width: 130px; }

/*latest post image style*/
.latest-post .grid-4 img {
  padding-bottom: 24px; }

/*latest post heading style*/
.latest-post .grid-4 h5 {
  padding-bottom: 15px; }

/*blog landing wapper column 8 style*/
.blog-landing {
  padding-top: 62px; }

.blog-landing-wapper .grid-8 {
  padding-top: 50px;
  padding-left: 30px;
  padding-bottom: 40px; }

/*blog landing wapper column 4 style*/
.blog-landing-wapper .grid-4 {
  padding-top: 50px;
  padding-left: 30px;
  padding-bottom: 40px; }

/*latest post style*/
.latest-post {
  display: inline-block; }

/*latest post column 4 style*/
.latest-post .grid-4 {
  padding-bottom: 30px; }

/*latest post image style*/
.latest-post img {
  width: 283px;
  height: 166px; }

/*blog content wapper FontAwesome style*/
.blog-content-wapper .fa-repeat {
  color: #e50647;
  font-size: 18px;
  margin-right: 10px; }

/*blog content wapper titleRow style*/
.blog-content-wapper .titleRow {
  margin-bottom: 0px; }

/*verify-block  botton style*/
.form-inner-field .verify-block .text-box,
.verify-block button {
  float: left;
  width: 50%; }

/*loading more pages heading style*/
.loading-more-pages h6 {
  display: inline-block;
  font-size: 12px;
  font-weight: normal;
  padding-bottom: 0;
  text-align: center; }

/*loading more pages span style*/
.loading-more-pages h6 span {
  background-color: #fff;
  padding: 10px 30px;
  position: relative; }

/*loading more pages style*/
.loading-more-pages {
  margin-bottom: 0px;
  position: relative;
  text-align: center;
  text-transform: uppercase; }

/*loading more pages before style*/
.loading-more-pages:before {
  background-color: #ccc;
  content: "";
  height: 1px;
  margin-top: -1px;
  left: 0;
  position: absolute;
  top: 50%;
  width: 100%; }

/*blog detail page css style*/
/*fixed background images style*/
.fixed-bgimg {
  background-attachment: fixed; }

.fluid-window img {
  width: 100%; }

.blog-detail-wapper {
  padding-top: 80px;
  padding-bottom: 20px; }

/*full width image style*/
/*banner brief text style*/
.banner-brief {
  z-index: 99; }

/*blockquote banner text style*/
.blockquote-banner .banner-txt {
  width: 600px; }

.blockquote-banner .banner-txt {
  width: 682px; }

/*blockquote banner heading style*/
.blockquote-banner h1 {
  color: #fff;
  font-family: 'Georgia';
  font-size: 48px;
  font-style: italic;
  font-weight: normal;
  padding-bottom: 15px;
  position: relative;
  line-height: 60px;
  padding-left: 75px; }

/*blockquote banner paragraph style*/
.blockquote-banner p {
  color: #fff;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  padding-left: 75px; }

/*blockquote banner heading position style*/
.blockquote-banner h1 {
  position: relative; }

/*blockquote banner heading before style*/
.blockquote-banner h1:before {
  content: "";
  background-image: url("../images/blockquote-while.png");
  left: 0px;
  width: 49px;
  position: absolute;
  height: 36px;
  top: 0; }

/*round image style*/
.round-img {
  border: solid 5px #fff;
  border-radius: 50%;
  -webit-border-radius: 50%;
  -moz-border-radius: 50%;
  width: 135px;
  margin: 0 auto 25px; }

/*blog profile slider move top style*/
.profile-movetop {
  margin-top: -120px;
  position: relative;
  z-index: 9; }

/*blog profile style*/
.blog-profile {
  background-color: #eaeaea;
  position: relative;
  padding: 50px 0;
  margin-top: 70px; }

/*blog profile before style*/
.blog-profile:before {
  background-color: #eaeaea;
  content: "";
  left: -1500px;
  width: 4000px;
  height: 100%;
  top: 0;
  position: absolute; }

/*blog profile after style*/
.blog-profile:after {
  background-image: url("../images/bg-shadow-profile.png");
  content: "";
  left: -1500px;
  width: 4000px;
  height: 273px;
  top: 0;
  position: absolute; }

/*testimonial section style*/
.testimonial-wrap {
  margin: 0; }

/*testmonial Content section style*/
.testmonialContent-blog {
  text-align: center; }

/*testimonial section heading style*/
.testimonial-wrap h3 {
  color: #782472;
  font-size: 18px;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  line-height: 24px;
  padding-bottom: 0; }

/*testimonial section paragraph style*/
.testimonial-wrap p {
  color: #333333;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  line-height: 24px;
  padding: 30px 15px; }

/*main wrapper section overflow style*/
#main-wrapper {
  overflow: hidden; }

/*blog profile column 8 style*/
.blog-profile .grid-8 {
  padding-bottom: 0px; }

/*blog thumbnail Slider section style*/
.thumbnailSlider-blog {
  z-index: 99; }

/*testimonial section column 8 first child style*/
.testimonial-wrap .grid-8:first-child {
  padding: 0px; }

/*testimonial section span style*/
.testimonial-wrap span {
  color: #997a97;
  font-size: 12px;
  font-weight: 700;
  line-height: 24px;
  padding-bottom: 0;
  text-transform: uppercase; }

/*blockquote banner section style*/
.blockquote-banner {
  margin-bottom: 52px;
  position: relative; }

/*blockquote banner section after style*/
.blockquote-banner:after {
  background-color: #000000;
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  opacity: 0.4;
  z-index: 1; }

/*content images caption paragraph style*/
.content-images-caption {
  margin-bottom: 52px; }

.content-images-caption img {
  width: 100%; }

.content-images-caption p {
  border-bottom: 1px solid #ccc;
  padding: 13px 0; }

/*testimonial section ul style*/
.testimonial-wrap ul {
  display: inline-block; }

/*testimonial section listing style*/
.testimonial-wrap ul li {
  background: url(../images/social-img.png) no-repeat;
  display: inline-block;
  font-size: 14px;
  height: 48px;
  margin-left: 12px;
  line-height: 48px;
  width: 48px;
  text-align: center; }

/*testimonial section listing first child style*/
.testimonial-wrap ul li:first-child {
  margin-left: 0; }

/*testimonial section listing link style*/
.testimonial-wrap ul li a {
  color: #e50647;
  display: block; }

/*testimonial section listing link over style*/
.testimonial-wrap ul li a:hover {
  color: #572582; }

/*15-12-2015*/
/*product page style*/
/*prepaid card section style*/
.prepaid-card {
  margin-bottom: 40px;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  width: 228px;
  margin: 0 auto; }

/*prepaid card section before style*/
.prepaid-card:before {
  background-color: #e50647;
  content: "";
  height: 1px;
  margin-top: -1px;
  left: 0;
  position: absolute;
  top: 50%;
  width: 100%; }

/*prepaid card section image style*/
.prepaid-card img {
  display: inline-block;
  padding-bottom: 0;
  text-align: center;
  background-color: #fff;
  padding: 10px 15px;
  position: relative;
  vertical-align: top; }

/*how it work section span style */
.how-it-work h2 > span {
  font-size: 26px;
  line-height: 36px; }

/*how it work section span last child style */
.how-it-work h2 span:last-child {
  font-size: 20px;
  line-height: 36px; }

/*make payment style*/
/*my account section column 8 and 4 common style*/
.my-account-section .grid-8 {
  padding-left: 10px;
  padding-right: 10px; }

/*my account section style*/
.my-account-section {
  background-color: #f0f0f0;
  padding: 80px 0 50px 0; }

/*my account section column 6 style*/
.my-account-header .grid-6 {
  padding-left: 0px; }

/*authorname dashboard section style*/
.authorname-dashboard {
  display: inline-block;
  padding-left: 170px;
  padding-top: 15px; }

/*authorname dashboard paragraphs style*/
.authorname-dashboard p {
  font-size: 14px;
  line-height: 18px;
  padding-bottom: 0px; }

/*authorname dashboard span style*/
.authorname-dashboard span {
  color: #666666;
  font-size: 12px;
  line-height: 18px; }

/*dashboard navigation style*/
.dashboard-nav nav {
  padding-left: 0px; }

/*my account section header style*/
.my-account-header {
  padding: 0px 0px 37px 40px; }

/*my account section header heading style*/
.my-account-header h3 {
  padding-left: 6px;
  padding-bottom: 0px;
  line-height: 26px; }

/*breadcrumb style*/
.breadcrumb {
  background-color: transparent;
  padding: 0px;
  margin-bottom: 0px; }

/*breadcrumb listing style*/
.breadcrumb li {
  color: #a56da1;
  display: inline-block;
  font-size: 11px;
  font-weight: 700;
  position: relative;
  padding: 0 0 0 10px;
  line-height: 15px;
  text-transform: uppercase; }

/*my account section header ul style*/
.my-account-header ul {
  position: relative; }

/*breadcrumb listing link style*/
.breadcrumb li a {
  color: #a56da1;
  font-size: 11px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase; }

/*breadcrumb listing first child style*/
.breadcrumb li:first-child {
  padding-left: 0px; }

/*breadcrumb listing first child  before style*/
.breadcrumb li:first-child:before {
  content: ""; }

/*breadcrumb listing nth child before style*/
.breadcrumb li:nth-child(2):before {
  content: "";
  padding-left: 0px; }

/*breadcrumb listing nth child style*/
.breadcrumb li:nth-child(2) {
  padding-left: 0px; }

/*breadcrumb listing before*/
.breadcrumb li:before {
  content: "/";
  font-size: 11px;
  font-weight: 700;
  position: absolute;
  left: 0; }

/*make payment section style*/
.make-payment-section {
  background-color: #fff;
  padding: 40px 30px; }

/*card number section style*/
.make-payment-section .card-number {
  width: 400px; }

/*select menu button style*/
.make-payment-section .ui-selectmenu-button {
  width: 400px !important; }

/*Payment amount width */
.make-payment-section .Payment-amount {
  width: 195px; }

/*cvv number width*/
.make-payment-section .cvv-number {
  width: 170px; }

/*save card details section style*/
.make-payment-section .save-card-details {
  padding: 15px 0px 40px 0px; }

/*save card details section checkBox label style*/
.save-card-details .checkBox label:before {
  border: 1px solid #cccccc; }

/*pay button style*/
.button-pay {
  margin-right: 10px; }

/*help center section style*/
.help-center {
  position: relative; }

/*help center details section style*/
.help-center-details {
  position: absolute;
  left: 0;
  top: 0; }

/*call us space style*/
.my-account-header .call-us {
  padding: 0px; }

/*call us section left side space*/
.my-account-header .call-us > div {
  padding-left: 24px; }

/*call us section top space*/
.my-account-header .call-us > div i {
  top: 12px; }

/*message table background color*/
.my-message-table {
  background-color: #fff; }

/*message title style*/
.my-message-table .my-message-title {
  background-color: #572582;
  color: #fff;
  padding: 25px 30px 25px 40px;
  font-size: 18px;
  font-weight: 700; }

/*useful contacts style*/
.useful-contacts {
  background-color: #fff;
  padding: 20px;
  margin-bottom: 20px; }

/*useful contacts heading style*/
.useful-contacts h6 {
  border-bottom: 1px solid #f0f0f0;
  color: #572582;
  font-size: 14px;
  font-weight: 700;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 14px;
  margin-left: -20px;
  margin-right: -20px; }

/*useful contacts li style*/
.useful-contacts li {
  padding: 12px 0;
  border-bottom: 1px solid #f0f0f0; }

/*useful contacts link style*/
.useful-contacts a {
  display: block; }

/*useful contacts strong style*/
.useful-contacts strong {
  display: block; }

/*useful contacts listing last child style*/
.useful-contacts li:last-child {
  border-bottom: none;
  padding-bottom: 0px; }

/*message table particular div style*/
.message-table div {
  border-top: 1px solid #eaeaea;
  padding: 13px 40px; }

/*message table particular div first child style*/
.message-table div:first-child {
  border-top: none; }

/*message table particular div top numbe style*/
.message-table div .top-number {
  font-size: 12px;
  padding: 0; }

/*message table td last child style*/
.message-table table tr td:last-child {
  color: #999999;
  font-size: 12px;
  font-weight: normal;
  padding-left: 33px; }

.message-table table tr td a {
  color: #333; }

/*unread message style*/
.message-table .unread-message {
  color: #e50647 !important; }

/*message section table style*/
.message-table table tr td {
  color: #e50647;
  font-size: 12px;
  font-weight: 700;
  text-align: left; }

/*message table border style*/
.message-table {
  border: 1px solid #eaeaea;
  margin-bottom: 20px; }

/*message table tr style*/
.message-table table tr {
  border-bottom: 1px solid #eaeaea; }

/*message table td first child style*/
.message-table table tr td:first-child {
  width: 70%; }

/*message table td style*/
.message-table table tr td {
  width: 15%;
  vertical-align: top; }

/*message table tr last child style*/
.message-table table tr:last-child {
  border-bottom: 0px solid #ccc;
  width: 15%; }

/*message table td style*/
.message-table table td {
  padding: 19px 15px 15px 0px; }

/*message table td last child style*/
.message-table table td:last-child {
  padding-right: 0px; }

/*message table section heading style*/
.message-table h5 {
  color: #000000;
  font-size: 16px;
  padding-top: 32px;
  padding-bottom: 14px; }

/*our products section style*/
.our-products {
  background-color: #fff;
  padding: 20px 20px 0px 20px;
  margin-bottom: 20px; }

/*our products section heading style*/
.our-products h6 {
  border-bottom: 1px solid #f0f0f0;
  color: #572582;
  font-size: 14px;
  font-weight: 700;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 14px;
  margin-left: -20px;
  margin-right: -20px; }

/*our products section listing link style*/
.our-products ul li a {
  color: #333333;
  display: block; }

/*our products section listing link over style*/
.our-products ul li a:hover {
  color: #e50647; }

/*our products section listing style*/
.our-products ul li {
  border-bottom: 1px solid #eaeaea;
  color: #333333;
  font-size: 12px;
  font-weight: 700;
  line-height: 24px;
  position: relative;
  padding: 14px 10px 14px 0px;
  text-transform: uppercase; }

/*our products section listing last child style*/
.our-products ul li:last-child {
  border-bottom: none; }

/*our products section listing last child before style*/
.our-products ul li:before {
  color: #e50647;
  content: "\f107";
  font-size: 18px;
  font-family: 'FontAwesome';
  right: 10px;
  width: 10px;
  position: absolute;
  top: 15px;
  height: 10px; }

/*our products section sub listing before style*/
.our-products ul li > ul > li:before {
  color: #e50647;
  content: "";
  font-size: 18px;
  font-family: 'FontAwesome';
  right: 10px;
  width: 10px;
  position: absolute;
  top: 15px;
  height: 10px; }

/*going abroad section style*/
.going-abroad {
  background-color: #572582;
  padding: 28px 42px 23px 42px;
  text-align: center; }

/*going abroad section paragraph style*/
.going-abroad p {
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  font-family: 'Roboto Slab', serif;
  padding: 10px 0;
  line-height: 28px; }

/*going abroad section span style*/
.going-abroad span {
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  font-family: 'Roboto Slab', serif;
  line-height: 24px;
  text-align: center; }

/*travel money buy botton style */
.travel-money-botton {
  color: #fff;
  background-color: #671f62;
  display: block;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  padding: 17px 0;
  text-transform: uppercase;
  text-align: center; }

/*travel money buy botton over style */
.travel-money-botton:hover {
  background-color: #e50647;
  color: #fff; }

/*my account pagination listing link style*/
.my-account-pagination ul li a {
  color: #333333;
  display: block; }

/*my account pagination listing particular class page style apply*/
.my-account-pagination ul li.pages {
  color: #333333;
  font-size: 12px;
  text-transform: uppercase;
  margin-right: 5px; }

/*my account pagination listing style*/
.my-account-pagination ul li {
  position: relative;
  float: left;
  font-size: 12px;
  width: 45px;
  height: 47px;
  line-height: 47px;
  text-align: center;
  font-weight: 700;
  z-index: 3; }

/*my account pagination listing link before active and over style*/
.my-account-pagination ul li a.active:before,
.my-account-pagination ul li a:hover:before {
  background: url(../images/my-account-pagination-icon.png) no-repeat;
  color: #572582; }

/*my account pagination listing link before style*/
.my-account-pagination ul li a:before {
  background: none center center;
  content: "";
  position: absolute;
  width: 45px;
  height: 47px;
  z-index: -1;
  left: 0; }

/*message details space*/
.message-detail {
  padding-bottom: 25px; }

/*message details title row style */
.message-detail .title-row {
  background-color: #572582;
  padding: 25px 30px 25px 40px; }

/*message details title row heading style */
.message-detail .title-row h4 {
  color: #fff; }

/*title row last child bottom space*/
.title-row > :last-child {
  padding-bottom: 0; }

/*message content section style*/
.message-content {
  background-color: #fff;
  padding: 15px 40px 33px 40px; }

/*message content section paragraph style*/
.message-content p {
  font-weight: 700; }

/*message from section style*/
.message-from {
  border-bottom: 1px solid #f0f0f0;
  font-size: 14px;
  margin: 0 -40px 30px;
  padding: 0 40px;
  line-height: 30px;
  padding-bottom: 15px; }

/*message name section style*/
.message-name {
  padding-left: 45px;
  padding-right: 60px;
  position: relative; }

/*message name section span style*/
.message-name span {
  color: #333;
  font-size: 14px;
  font-weight: 700;
  min-height: 30px;
  position: absolute;
  left: 0;
  width: 45px; }

/*messgae date section style*/
.messgae-date {
  color: #999;
  font-size: 12px;
  position: absolute;
  width: 60px;
  right: 0;
  top: 0; }

/*message nav section style*/
.message-nav {
  float: right;
  padding-bottom: 20px; }

/*message nav FontAwesome style*/
.message-nav i {
  color: #e50647;
  font-size: 18px;
  text-align: center;
  background-color: #fff;
  padding: 8px 12px; }

/*message delete FontAwesome style*/
.message-delete i {
  background-color: transparent; }

/*message delete section style*/
.message-delete {
  color: #333;
  font-size: 12;
  font-weight: 700;
  padding-right: 40px; }

/*message table title row section style*/
.my-message-table .title-row {
  background-color: #572582;
  padding: 25px 30px 25px 40px; }

/*message table title row section heading style*/
.my-message-table .title-row h4 {
  color: #fff; }

/*my details section style*/
.my-details {
  background-color: #fff;
  margin-bottom: 20px; }

/*my details title row section heading style*/
.my-details .title-row h6 {
  color: #572582;
  border-bottom: 1px solid #eaeaea;
  font-size: 14px;
  font-weight: 700;
  padding: 25px 30px 25px 40px; }

/*my details  infomation section style*/
.my-details-infomation {
  padding: 25px 30px 25px 40px; }

/*my details infomation paragraph style*/
.my-details-infomation > p {
  font-size: 14px;
  line-height: 24px; }

/*my details infomation text box style*/
/*.my-details-infomation .form-block .form-inner-field .text-box {
    background-color: transparent;
}*/
/*my details infomation label span style*/
.my-details-infomation .form-block .form-inner-field label span {
  font-weight: 700; }

/*my details infomation form row style*/
.my-details-infomation .form-block .form-row {
  border-bottom: 1px solid #eaeaea;
  padding-bottom: 9px;
  padding-top: 10px; }

/*my details infomation checkBox style*/
.my-details-infomation .form-block .form-row .form-inner-field .checkBox {
  float: left; }

/*details save top space style*/
.my-details-infomation .details-save {
  padding-top: 25px; }

/*save detailsbutton style*/
.details-save .button {
  margin-right: 12px; }

/*marketing preferences style*/
.my-details-infomation .marketing-preferences {
  padding-bottom: 3px; }

/*my details infomation text box style*/
/*.my-details-infomation .form-inner-field .text-box {
    padding: 0px;
}*/
/*my details infomation checkBox label before style*/
.my-details-infomation .checkBox label:before {
  border: 1px solid #cccccc;
  width: 42px;
  height: 42px;
  line-height: 42px; }

/*change number section style*/
.change-number {
  bottom: 0;
  background-color: transparent;
  border: none;
  color: #e50647;
  font-size: 12px;
  font-weight: 700;
  position: absolute;
  width: 125px;
  right: 0;
  height: 50px;
  top: 0; }

/*change number section focus style*/
.change-number:focus {
  outline: none; }

/*signup page style*/
/*signup heading section style*/
.signup-heading {
  background-color: #f1e9f1;
  padding: 87px 0px 53px 0px; }

/*signup heading section heading style*/
.signup-heading h2 {
  color: #572582;
  font-size: 48px;
  font-family: 'Roboto Slab', serif;
  font-weight: 300;
  padding-bottom: 10px;
  line-height: 36px; }

/*signup heading section paragraph style*/
.signup-heading p {
  color: #997a97;
  font-size: 24px;
  font-family: 'Roboto Slab', serif;
  line-height: 36px; }

/*signup content section style*/
.signup-content-wapper {
  padding: 50px 0; }

/*signup form block span style*/
.signup-form .form-block span {
  font-weight: 700; }

/*signup form dob year style*/
.signup-form .dob-year {
  width: 80px; }

/*signup form mobile number style*/
.signup-form .mobile-number {
  width: 220px; }

/*signup form small sbox style*/
.signup-form .small-form-row .small-box {
  width: 60px; }

/*signup form checkBox span style*/
.signup-form .checkBox span {
  font-size: 14px;
  font-weight: normal;
  line-height: 24px; }

/*signup form checkBox span link style*/
.signup-form .checkBox span a {
  color: #eb3c58; }

/*signup form checkBox label before style*/
.signup-form .checkBox label:before {
  border: 1px solid #cccccc; }

/*signup information list title row heading style*/
.signup-information-list .title-row h6 {
  font-weight: 700;
  padding-bottom: 40px;
  line-height: 24px;
  text-transform: uppercase; }

/*signup information list listing li style*/
.signup-information-list ul li {
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  padding-bottom: 38px;
  position: relative; }

/*signup information list listing li before style*/
.signup-information-list ul li:before {
  content: "\f111";
  color: #572582;
  font-size: 6px;
  font-family: 'FontAwesome';
  position: absolute;
  top: 0;
  left: -16px; }

/*signup conditions section style*/
.signup-form .signup-conditions {
  padding-bottom: 30px; }

/*personal information style*/
.personal-information {
  padding-bottom: 45px; }

/*personal information title row heading style*/
.personal-information .title-row h6 {
  font-weight: 700;
  padding-bottom: 40px;
  line-height: 24px;
  text-transform: uppercase; }

/*signup email section style*/
.signup-email {
  padding-bottom: 42px; }

/*set payment option section space*/
.set-payment-option {
  padding: 40px 40px 12px 40px; }

/*set payment option section paragraph style*/
.set-payment-option > p {
  font-size: 14px;
  line-height: 24px; }

/*set payment option u tag style*/
.set-payment-option u {
  color: #e50647; }

/*set payment option form block style*/
.set-payment-option .form-block {
  padding-bottom: 0px; }

/*set payment option form row last child style*/
.set-payment-option .form-row:last-child {
  padding-bottom: 0px; }

/*set payment information label style*/
.set-payment-information label {
  font-weight: 700; }

/*set payment information form row style*/
.set-payment-information .form-row {
  padding-bottom: 9px;
  border-bottom: 1px solid #eaeaea;
  padding-top: 10px; }

/*set payment information form row last child style*/
.set-payment-information .form-row:last-child {
  padding-bottom: 0px;
  border-bottom: none;
  padding-top: 10px; }

/*set payment information paragraph style*/
.set-payment-option p {
  padding-bottom: 10px; }

/*signin page style*/
/*signin content wapper section style*/
.signin-content-wapper {
  padding: 50px 0; }

/*signin heading section style*/
.signin-heading {
  background-color: #f1e9f1;
  padding: 87px 0px 53px 0px; }

/*signin heading h2 style*/
.signin-heading h2 {
  color: #572582;
  font-size: 48px;
  font-family: 'Roboto Slab', serif;
  font-weight: 300;
  padding-bottom: 10px;
  line-height: 36px; }

/*signin heading paragraph style*/
.signin-heading p {
  color: #997a97;
  font-size: 24px;
  font-family: 'Roboto Slab', serif;
  line-height: 36px; }

/*signin email section style*/
.signin-email {
  padding-bottom: 42px; }

/*signin form section link style*/
.signin-form a {
  color: #e50647;
  text-decoration: underline; }

/*forget password section bottom space*/
.signin-form .forget-password {
  margin-bottom: 20px; }

/*signin form block style*/
.signin-form .form-block {
  padding-bottom: 5px; }

/*forget password page style*/
/*forget password content wapper section style*/
.forget-password-content-wapper {
  padding: 50px 0; }

/*forget password section style*/
.forget-password-heading {
  background-color: #f1e9f1;
  padding: 87px 0px 53px 0px; }

/*forget password section heading style*/
.forget-password-heading h2 {
  color: #572582;
  font-size: 48px;
  font-family: 'Roboto Slab', serif;
  font-weight: 300;
  padding-bottom: 10px;
  line-height: 36px; }

/*forget password section paragraph style*/
.forget-password-heading p {
  color: #997a97;
  font-size: 24px;
  font-family: 'Roboto Slab', serif;
  line-height: 36px; }

/*forget password email section space*/
.forget-password-email {
  padding-bottom: 42px; }

/*forget password form bottom space*/
.forget-password-form {
  padding-bottom: 30px; }

/*forget password form link style*/
.forget-password-form a {
  color: #e50647;
  text-decoration: underline; }

/*forget password form select menu style*/
.forget-password-form .drop-down .ui-selectmenu-text {
  color: #999999; }

/*my account errormsg  paragraph after style*/
.my-account-errormsg.arrow-bottom p:after {
  border-bottom: 20px solid transparent !important;
  border-top: 20px solid #ff923a;
  top: inherit !important;
  bottom: -65px; }

/*overlay section style*/
/* .overlay {
    background-color: #fff;
    height: 100%;
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 999;
} */
/*popup wrap section style*/
.popup-wrap {
  background-color: transparent;
  margin: 30px auto;
  max-width: 600px;
  position: relative; }

/*popup close section style*/
.popupclose {
  background: url("../images/close-btn-2.png") center center no-repeat;
  background-size: 100%;
  cursor: pointer;
  padding: 10px 15px;
  position: absolute;
  right: 25px;
  top: 25px; }

/*popup wrap section link style*/
.password-block {
  padding-left: 160px; }

/*form popup middle align style*/
#form-popup .middlealign {
  padding: 0 15px; }

/*middlealign style*/
.middlealign {
  display: table;
  height: inherit;
  width: 100%; }

/*middlealign particular div style apply*/
.middlealign > div {
  display: table-cell;
  vertical-align: middle; }

/*popup signin space*/
.popup-wrap .signin-form {
  padding: 0 30px; }

/*overlay form row bottom space*/
.overlay .form-row {
  padding-bottom: 25px; }

/*forget password form save details style*/
.forget-password-form .details-save {
  padding-left: 0px; }

/*forget username content wapper section style*/
.forget-username-content-wapper {
  padding: 50px 0; }

/*forget username form bottom space*/
.forget-username-form {
  padding-bottom: 30px; }

/*forget username button left space*/
.forget-username-button {
  padding-left: 160px; }

/*thank you page style*/
/*thank you wapper section style*/
.thank-you-wapper {
  padding: 150px 0 0 0;
  border-bottom: 1px solid #e4d3e3; }

/*thank you wapper heading style*/
.thank-you-wapper h1 {
  color: #572582;
  padding-bottom: 35px; }

/*thank you wapper paragraph style*/
.thank-you-wapper p {
  font-size: 22px;
  line-height: 36px;
  padding-bottom: 70px; }

/*common hidden the check*/
.remove-tick .form-row i.fa-check {
  display: none; }

/*idproof page style*/
.idproof-heading {
  padding: 102px 0px 40px 0px;
  border-bottom: 1px solid #cccccc; }

.idproof-heading h2 {
  color: #333333;
  line-height: 48px;
  padding-bottom: 0; }

/*idproof-content-wapper*/
.idproof-content-wapper {
  padding: 40px 0; }

.idproof-content-wapper p {
  font-size: 14px;
  line-height: 24px; }

.idproof-content-wapper .faq-block {
  padding-top: 0; }

.services-require {
  padding: 5px 0 80px; }

.services-require li {
  font-size: 12px;
  padding-bottom: 26px; }

.services-require li:last-child {
  padding-bottom: 0; }

.services-require li h6 {
  font-size: 12px;
  font-weight: 700;
  padding-bottom: 6px; }

/*search functionality page style*/
.search-result-wapper {
  padding-top: 10px;
  padding-bottom: 50px; }

.search-result {
  padding-top: 33px;
  padding-bottom: 30px;
  border-bottom: 1px solid #cccccc; }

.search-result h5 {
  color: #333333;
  font-size: 16px;
  font-variant: 700;
  line-height: 24px;
  padding-bottom: 0; }

.search-result a {
  font-size: 14px;
  line-height: 24px;
  padding-bottom: 25px; }

.search-result p {
  font-size: 14px;
  line-height: 24px; }

.search-result-wapper .my-account-pagination {
  padding-top: 40px; }

/*contact updated page style*/
.contact-updated-wapper {
  padding-top: 120px;
  padding-bottom: 50px; }

.contact-updated-form p {
  font-size: 16px;
  line-height: 24px; }

.contact-updated-form h6 {
  text-transform: uppercase;
  font-weight: 700;
  padding-bottom: 33px; }

.complaint-process p {
  font-size: 12px;
  line-height: 24px; }

.complaint-process-section h3 {
  padding-bottom: 22px; }

.contact-updated-form .form-block {
  padding-bottom: 100px; }

.faq-contant-wrapper {
  padding: 50px 0; }

.write-us {
  padding: 20px 20px 30px 20px; }

.write-us p {
  border-bottom: 1px solid #572582;
  font-size: 14px;
  padding-bottom: 40px;
  line-height: 24px; }

.write-us h4 {
  text-transform: uppercase; }

.write-us h6 {
  font-weight: 700;
  padding-bottom: 0; }

.common-contact-infomation h4 {
  text-transform: uppercase; }

.common-contact-infomation {
  padding: 20px 20px 30px 20px; }

.common-contact-infomation h6 {
  font-weight: 700;
  padding-bottom: 0; }

.common-contact-infomation p {
  font-size: 14px;
  line-height: 24px; }

.faq-contant-wrapper .my-account-pagination {
  padding-top: 40px; }

.filter-category h4 {
  text-transform: uppercase; }

.filter-category .slide-content {
  padding-left: 25px;
  padding-top: 10px; }

.filter-category ul li a {
  color: #572582; }

.filter-category .slide-content a {
  color: #333333;
  padding-bottom: 10px; }

.filter-category .slide-content a:last-child {
  padding-bottom: 0; }

.filter-category ul li {
  border-bottom: none;
  padding: 5px 10px 5px 0px; }

.filter-category ul li:before {
  color: #464c59;
  font-size: 14px;
  top: 6px; }

.email-color {
  color: #e50647; }

.latest-news {
  text-align: center; }

.latest-news h3 {
  padding-bottom: 70px; }

.latest-news h5,
.latest-news p {
  text-align: left; }

.latest-content p {
  font-size: 14px; }

.more-news a {
  color: #e50647;
  display: block;
  text-align: center; }

.more-news a:hover {
  color: #572582; }

/*genericslide style*/
.slider-frame:before {
  bottom: 37px; }

.genericslide {
  display: none; }

.genericslide.slick-initialized {
  display: block; }

.trianglearrow .slick-prev {
  left: -1px; }

.genericslide span {
  color: #ec954f; }

.slider-image-description {
  color: #572582;
  font-size: 14px;
  font-family: 'Roboto Slab', serif;
  padding-top: 13px; }

.genericslide .slick-next {
  right: 0;
  height: 76px;
  width: 39px;
  margin-top: -56px; }

.genericslide .slick-next:before {
  display: none; }

.genericslide .slick-prev:before {
  display: none; }

.genericslide .slick-prev {
  left: 0;
  z-index: 1;
  width: 39px;
  height: 76px;
  margin-top: -54px; }

.news-list {
  padding-bottom: 27px; }

.news-list ul {
  padding-left: 20px; }

.news-list ul li a {
  color: #572582; }

.news-list ul li {
  color: #572582;
  font-size: 14px;
  position: relative;
  padding-bottom: 12px;
  line-height: 24px; }

.news-list ul li:last-child {
  padding-bottom: 0px; }

.news-list ul li:before {
  color: #572582;
  content: "\f111";
  font-family: 'FontAwesome';
  font-size: 6px;
  left: -15px;
  position: absolute;
  top: 0; }

.news-section h5 {
  color: #333333;
  font-style: normal; }

.introduction-video-caption i {
  color: #fff;
  margin: 0 auto;
  font-size: 70px; }

.introduction-video-caption span {
  color: #fff;
  font-size: 18px;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  vertical-align: top;
  display: inline-block;
  padding-top: 24px;
  padding-left: 20px; }

.introduction-video-caption p {
  color: #fff;
  font-size: 36px;
  line-height: 48px;
  font-family: 'Roboto Slab', serif;
  position: relative;
  padding-bottom: 0;
  top: 170px;
  width: 530px;
  margin: 0 auto; }

.introduction-video-caption a {
  top: 215px; }

.introduction-video-caption:before {
  background: url(../images/video-img-2.jpg) no-repeat; }

.balck-gradient:before {
  background-image: none;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+70&0.65+0,0+70 */
  background: -moz-linear-gradient(left, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0) 70%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0) 70%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0) 70%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a6000000', endColorstr='#00000000', GradientType=1);
  /* IE6-9 */ }

.ui-selectmenu-button span.ui-selectmenu-text {
  font-size: 12px; }

